.button {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px green solid;
  color: green;
  margin: auto 50px;
}

.large {
  font-size: 5rem;
}

.small {
  font-size: 3rem;
}
