.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.top {
  justify-content: flex-start;
  align-items: center;
}
